body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #9a62ab;
    color: #fff;
}

.nav-link {
    color: #343a40;
    font-weight: bold;
}

    .nav-link:hover {
        color: #fff;
        text-decoration: none;
    }

.snapshot {
    border: 1px solid #ddd;
    padding: 10px;
}


.logo {
    font-size: 24px;
}

.parking {
    color: blue; /* Change the color as desired */
}

.management {
    color: green; /* Change the color as desired */
}
