@model PLM.Library.Models.ParkingStats

<p>Number of spots available as of now: <span class="badge rounded-pill bg-secondary">@Model.SpotsAvailable</span></p>
<p>Today’s revenue as of now: <span class="badge rounded-pill bg-secondary">$@Model.TodayRevenue</span></p>
<p>Average number of cars per day (for the past 30 days):  <span class="badge rounded-pill bg-secondary">@Model.AvgCarsPerDayLast30Days</span></p>
<p>Average revenue per day (for the past 30 days): <span class="badge rounded-pill bg-secondary">@Model.AvgRevenuePerDayLast30Days</span></p>
