@model ParkingStats


<p>Spots Available: @Model.SpotsAvailable</p>
<p>Today's Revenue: $@Model.TodayRevenue</p>
<p>Average Cars Per Day (Last 30 Days): @Model.AvgCarsPerDayLast30Days</p>
<p>Average Revenue Per Day (Last 30 Days): $@Model.AvgRevenuePerDayLast30Days</p>
