<nav class="col col-md-2 bg-light p-3 d-flex flex-column gap-3 justify-content-between">
    <div>
        <div class="mb-3 mt-3">
            <label for="tagNumber" class="form-label">Tag Number: </label>
            <input type="text" class="form-control" id="tagNumber" placeholder="Value" minlength="1" maxlength="50" required>
        </div>

        <div class="mb-3">
            <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;"></div>
            <div id="successMessage" class="alert alert-success" role="alert" style="display: none;"></div>
        </div>
    </div>


    <div class="d-grid gap-2 ">
        <div class="row justify-content-between">
            <div class="col-auto pl-3 pb-3">
                <span class="fw-bold text-danger">Charged Amount:</span>
            </div>
            <div class="col-auto">
                <span id="totalChargedAmount" class="badge bg-danger">$0.00</span>
            </div>
        </div>

        <button type="button" class="btn btn-success" id="checkInBtn">In</button>
        <button type="button" class="btn btn-danger" id="checkOutBtn">Out</button>
        <button type="button" class="btn btn-primary" id="loadStatsButton">Stats</button>
    </div>
</nav>

<section id="parkingSnapshot" class="col overflow-auto p-3">
</section>

<div class="modal fade" id="statisticsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Parking Statistics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="statisticsModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
